.header {
  width: 100%;
  height: 100px;
  display: flex;
}
.header__nav {
  width: 90vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  column-gap: 40px;
}
.logo {
  font-family: $font-second;
  font-size: 32px;
}

.header__logo {
}
.header__links {
  display: grid;
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  width: 321px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  align-items: center;

  & a {
    color: $color-accent;
    white-space: nowrap;
  }
}
.header__search {
  background-color: $color-second;
  font-family: $font-main;
  font-weight: 400;
  width: 547px;
  height: 48px;
  border-radius: 62px;
  padding: 12px 16px;
}
.shop-profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  width: 62px;
  align-content: center;
  justify-self: end;
}
.header__shop {
}
.header__profile {
}
