@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  src: local("Satoshi"),
    url("./../../GLOBAL/fonts/Satoshi-Regular/Satoshi-Regular.woff2")
      format("woff2"),
    url("./../../GLOBAL/fonts/Satoshi-Regular/Satoshi-Regular.woff")
      format("woff"),
    url("./../../GLOBAL/fonts/Satoshi-Regular/Satoshi-Regular.ttf")
      format("truetype"),
    url("./../../GLOBAL/fonts/Satoshi-Regular/Satoshi-Regular.eot")
      format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 700;
  font-style: normal;
  src: local("Satoshi"),
    url("./../../GLOBAL/fonts/Satoshi-Bold/Satoshi-Bold.woff2") format("woff2"),
    url("./../../GLOBAL/fonts/Satoshi-Bold/Satoshi-Bold.woff") format("woff"),
    url("./../../GLOBAL/fonts/Satoshi-Bold/Satoshi-Bold.ttf") format("truetype"),
    url("./../../GLOBAL/fonts/Satoshi-Bold/Satoshi-Bold.eot") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 500;
  font-style: normal;
  src: local("Satoshi"),
    url("./../../GLOBAL/fonts/Satoshi-Medium/Satoshi-Medium.woff2")
      format("woff2"),
    url("./../../GLOBAL/fonts/Satoshi-Medium/Satoshi-Medium.woff")
      format("woff"),
    url("./../../GLOBAL/fonts/Satoshi-Medium/Satoshi-Medium.ttf")
      format("truetype"),
    url("./../../GLOBAL/fonts/Satoshi-Medium/Satoshi-Medium.eot")
      format("opentype");
}

@font-face {
  font-family: "Integral CF";
  font-weight: 700;
  font-style: normal;
  src: local("Integral CF"),
    url("./../../GLOBAL/fonts/Integral-CF/IntegralCF-Bold.woff2")
      format("woff2"),
    url("./../../GLOBAL/fonts/Integral-CF/IntegralCF-Bold.woff") format("woff"),
    url("./../../GLOBAL/fonts/Integral-CF/IntegralCF-Bold.ttf")
      format("truetype"),
    url("./../../GLOBAL/fonts/Integral-CF/IntegralCF-Bold.eot")
      format("opentype");
}

.content {
  margin: 0 auto;
}
